@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .hero__title {
        font-size: 48px;
    }
}

@media (min-width: 992px) {
    body,
    .post-form__content {
        background: #FFF7ED;
    }

    .hero__title {
        font-size: 46px;
        color: #212529;
    }

    .main__line {
        width: 100%;
    }

    .post-form__dialog {
        min-width: 800px;
    }
}

@media (max-width: 768px) {
  .main__line{
    max-width: 100px;
  }

  .title-2,
  .contacts__text{
   font-size: 30px !important;
 }

 .contacts__link{
   font-size: 28px;
 }
}

@media (min-width: 768px){
  .logo{
    width: 48px;
  }

  .header__btn-text{
    font-size: 14px;
    line-height: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px){
   .main__list{
      font-size: 29px !important;
   }

   .contacts__text{
      font-size: 42px !important;
   }

   .contacts__link{
      font-size: 36px !important;
   }
}

@media (max-width: 576px) {
   .header__title, .main-btn {
      font-size: 12px !important;
    }
  
    .header__icon {
        width: 28px;
    }
  
    .header__label{
      font-size: 10px;
    }

  .header__icon {
      width: 18px;
  }
  
  .title-2,
  .contacts__text{
   font-size: 25px !important;
  }
  .contacts__link{
   font-size: 22px;
  }
}

@media (max-width: 460px) {
   .hero__subtitle{
      font-size: 18px;
   }
}

@media (max-width: 360px) {
   .hero__title{
      font-size: 24px;
    }
  
    .hero__subtitle {
        font-size: 14px !important;
    }
  
    .title-2{
      font-size: 22px !important;
      font-weight: 600 !important;
    }
  .main__list{
    font-size: 14px !important;
    padding-inline: 14px;
  }

  .contacts__text{
   font-size: 22px !important;
  }

  .contacts__link{
   font-size: 20px !important;
  }

  footer {
    font-size: 12px;
  }
  
}